header, footer { padding: 20px; background: #606161; background-size: cover; }

.clearfix:after { visibility: hidden; display: block; content: " "; clear: both; height: 0; font-size: 0; }

body { text-align: center; color: #131e27; background: #f0efef;
      background-size: cover; background-position: center;
      font-family: "Spectral", Georgia, helvetica; }


  h1 { font-family: "Spectral", Georgia, helvetica; text-align: center;
      font-size: 40px; padding: 10px; text-shadow: 10px 10px 5px black; }

  h2 { font-family: "Spectral", Georgia, helvetica; }

  h3 { text-align: center; }

  p { font-size: 16px; text-align: left; color: rgba(174, 214, 241);
      background-color: rgba(5,4,2,0.1); width:850px; height: 100%;
      margin-left:auto; margin-right:auto; text-align: center; }

  ul { text-align: left; border-radius: 15px; font-size: 16px; width:75%; height: 100%;
      background-color: rgba(5,4,2,0.1); margin-left:auto; margin-right:auto; }


  hr { display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: 15%;
    margin-right: 15%; border-style: inset; border-width: 1px; }

.art1 { position: relative; display: inline-block;  border: 5px solid #AED6F2; }
.art1 .img-top { display: none; position: absolute; top: 0; left: 0; z-index: 99; }
.art1:hover .img-top { display: inline; }
.arts, .art1, .art1 .img-top, .art1:hover .img-top { width: 150px; height: 150px; border-radius: 70%; }

.date { float: right; margin-right: 20px;}

.mlink { position: relative; display: inline-block; }
.mlink .img-top { display: none; position: absolute; top: 0; left: 0;  z-index: 99; }
.mlink:hover .img-top { display: inline; position: absolute; }
.imgs, .mlink .imp-top, .mlink:hover .img-top { margin-right: 1%; margin-top: 1%; width: 50px; height: 50px; }

.mswalk { width: 300px; height: 200px; border: 7px solid #91e564; border-radius: 15%; padding: 5px; }

.propic1 { position: relative; display: inline-block; border: 5px solid #AED6F2; }
.propic1 .img-top { display: none; position: absolute; top: 0; left: 0;  z-index: 99; }
.propic1:hover .img-top { display: inline; }
.propic, .propic1, .propic1 .img-top, .propic1:hover .img-top { width: 250px; height: 250px; border-radius: 70%; }

.rounded {-moz-border-radius: 15px; -webkit-border-radius: 15px; }
.title { text-decoration: underline; }

input { border: 0; padding: 8px; font-size: 15px; }
input[type="Submit"] { background: #AED6F1;  color: blue; }

#fname {}
#lname {}
#xmail {}

