*{ text-decoration: none;  color: #e9ece5; }

::-webkit-scrollbar {
    width: 1.2em;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(3, 0, 96, 0.3);
    background-color: transparent;
    border-radius: 15px; border: 2px solid rgb(49, 86, 217);
  }
  
  ::-webkit-scrollbar-thumb {
  background-color: transparent; outline: 1px solid #32309f;
  border-radius: 25px; border: 3px solid rgb(23, 30, 154);
  }

header { 
    height: 100%; width: 95%; 
    background: transparent; background-size: cover; text-align: right; margin-right: 15px;
     }

#toplinks {  margin-top: 10px; }  

#toplinks a { font-family: 'Libre Baskerville', serif; font-size: 28px; margin-top: 15px; text-decoration: none; text-align: right; 
}

h1, h2 { font-family: 'Libre Baskerville', serif; margin-left: 30px; }

h1 { font-size: 30px; margin-top: 150px;
}

#container { background-color: #b3c2bf; width: 95%; height: 100%; border-radius: 25px; border: 5px solid #3b3a36; }

#headline { width: 95%; height: 300px; padding: 10px; border-radius: 25px; }

#aboutme, #mywork, #contactme { text-align: center; font-size: 35px; margin: 10px 0 10px 0; border-radius: 25px; border: 5px solid #3b3a36; width: 95%; font-size: 35px; }

#aboutme { 
background-image: url('./img/me.jpg'); background-size: cover; background-repeat: no-repeat; height: 500px; }

#mywork { 
background-image: url('./img/blueprint.jpg'); background-size: cover; background-repeat: no-repeat; }

#contactme { 
background-image: url('./img/contact.jpg'); background-size: cover; background-repeat: no-repeat;  height: 500px; }

#battleship, #starwars { background-size: cover; background-repeat: no-repeat; height: auto;  }

#starwars img, #battleship img { width: 500px; height: 350px; border-radius: 25px; border: 5px solid #3b3a36; }

.project { font-size: 30px; font-weight: 900px; margin: 20px 0 20px 0; padding: 10px; }

.names { background-color: #3b3a36; text-align: center; margin: 0px auto 0 auto;
  width: 500px; height: auto; border-radius: 25px; border: 5px solid black;  }
  p { font-size: 20px; padding: 40px; }
